---
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Valentina Rosero - Modelo Profesional"
  description="Modelo profesional colombiana y estudiante de Comunicación. Elegancia, autenticidad y estilo en cada proyecto de moda y expresión visual."
  noindex={true}
>
  <section
    class="px-3 pt-4 lg:px-8 mb-6 lg:mb-56 mx-auto flex flex-col justify-center items-center text-center gap-2"
  >
    <h2 class="text-4xl font-nunito mb-4">Gracias por tu mensaje</h2>
    <a href="/" class="text-white underline">Regresar a la página principal</a>
  </section>
</Layout>
