<section
  class="container px-3 mb-6 lg:mb-12 lg:px-8 mx-auto overflow-hidden scroll-mt-6"
  id="about"
>
  <div class="flex flex-col lg:max-w-2/3">
    <span
      class="inline-block mb-2 text-gray-400 text-base capitalize font-light"
    >
      Sobre mí
    </span>
    <h2 class="inline-block text-4xl">Valentina Rosero</h2>
    <h3 class="inline-block text-gray-400 text-base capitalize font-light mb-4">
      Modelo colombiana y estudiante de Comunicación.
    </h3>
    <p class="text-xl font-light text-balance">
      Colaboro con marcas y proyectos que buscan transmitir autenticidad y
      estilo. Mi enfoque une la moda, la creatividad y la comunicación visual
      para crear experiencias que inspiran.
    </p>
  </div>
</section>
