---
import { getImageUrl } from "@/lib/sanity/utils";
import { PortableText } from "astro-portabletext";

interface Props {
  heading: string;
  title: string;
  description: any;
  details: string[];
  image: any;
}

const { heading, title, description, details, image } = Astro.props as Props;

const imageUrl = getImageUrl(image);
---

<section id="about" class="py-32 bg-background">
  <div class="container mx-auto px-6">
    <div class="grid lg:grid-cols-2 gap-16 lg:gap-24 items-center">
      {/* Image */}
      <div
        class="relative aspect-3/4 overflow-hidden rounded-sm animate-slide-in-left"
      >
        <img
          src={imageUrl}
          alt="About image of Valentina Rosero"
          class="w-full h-full object-cover image-hover-scale"
        />
        <div
          class="absolute inset-0 bg-linear-to-t from-background/30 to-transparent"
        >
        </div>
      </div>

      {/* Content */}
      <div class="lg:py-12 animate-slide-in-right">
        <span class="text-xs uppercase tracking-[0.3em] text-accent">
          {heading}
        </span>

        <h2
          class="mt-4 heading-display text-5xl md:text-6xl lg:text-7xl text-foreground"
        >
          {
            title.split(" ").map((word, index, arr) => (
              <>
                {index < arr.length - 1 ? (
                  <>
                    {word} <br />
                  </>
                ) : (
                  <span class="text-accent">{word}</span>
                )}
              </>
            ))
          }
        </h2>

        {
          description && (
            <div class="mt-8 text-lg text-muted-foreground leading-relaxed text-elegant *:mb-2">
              <PortableText value={description as any} />
            </div>
          )
        }

        <div class="mt-12 flex flex-col lg:flex-row flex-wrap gap-8">
          {
            details.map((detail, index) => (
              <div>
                <span class="heading-display text-4xl text-foreground">
                  {detail.split("\n")[0]}
                </span>
                <p class="mt-1 text-sm text-muted-foreground uppercase tracking-wider">
                  {detail.split("\n").slice(1).join("\n")}
                </p>
              </div>
            ))
          }
        </div>
      </div>
    </div>
  </div>
</section>
