<div class="px-3 lg:px-8">
  <div class="lg:grid lg:grid-cols-3 gap-y-3 gap-x-5 pb-5">
    <div class="mb-4 lg:mb-0">
      <h2 class="font-heading text-4xl lg:text-5xl">Acerca de Valentina</h2>
    </div>
    <div class="lg:col-span-2">
      <p class="font-body font-base">
        Valentina Rosero Arcila es una modelo colombiana que desctaca por su
        incomparable belleza e increible carisma. No se que mas poner pero toca
        llenar este espacio con un texto de maximo 3 o 4 lineas en donde hables
        de ti misma y todos tus logos de los ultimos 3 o 4 años. Hablar mucho
        del pasado puede hacerte sonar quedada entonces toca hablar de lo mas
        reciente
      </p>
    </div>
  </div>
  <div class="lg:grid lg:grid-cols-3 gap-y-3 gap-x-5 pt-5">
    <div class="mb-4 lg:mb-0">
      <h2 class="font-heading text-4xl lg:text-5xl">Info</h2>
    </div>
    <div class="lg:col-span-2">
      <p class="font-body font-base">
        <b>Altura</b> － la altura perfecta
        <br />
        <b>Peso</b> － pluma
        <br />
        <b>Cabello</b> － divino
        <br />
        <b>Ojos</b> － preciosos
        <br />
        <b>Sonrisa</b> － perfecta
      </p>
    </div>
  </div>
</div>
