---
import "@fontsource-variable/nunito-sans";

import Header from "@/components/Header.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valentina Rosero Arcila</title>
  </head>
  <body class="bg-background text-white">
    <Header />

    <slot />
  </body>
</html>
