---
import "@fontsource-variable/nunito-sans";

import Header from "@/components/Header.astro";

import "@/styles/global.css";
---

<!doctype html>
<html lang="es" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" href="/favicon.png?" type="image/png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Valentina Rosero</title>
    <meta
      name="description"
      content="Modelo profesional colombiana y estudiante de Comunicaci贸n. Elegancia, autenticidad y estilo en cada proyecto de moda y expresi贸n visual."
    />

    <meta property="og:title" content="Valentina Rosero" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://www.tinarosero.com/" />
    <meta
      property="og:description"
      content="Modelo profesional colombiana y estudiante de Comunicaci贸n. Elegancia, autenticidad y estilo en cada proyecto de moda y expresi贸n visual."
    />
    <meta property="og:image" content="https://www.tinarosero.com/tina.png" />
  </head>
  <body class="bg-background text-white scroll-smooth">
    <Header />

    <slot />

    <footer>
      <p class="text-center text-gray-400 text-xs mb-4">
        &copy; 2025 Valentina Rosero. All rights reserved.
      </p>
    </footer>
  </body>
</html>
